
body {
    background-color: White;
}
main{
    position: absolute;
    color: white;
    width: 70%;
    height: 90%;
    left: 5%;
    top: 5%;
    background-color: black;
    opacity: .6;
}
#textbox{
    position: relative;
    width: 90%;
    left: 5%;
    top: 5%;
    color: orange;
}
#textbox a:link{
    color: blanchedalmond;
}
#textbox a:visited{
    color: blanchedalmond;
}
#textbox a:hover{
    color: blanchedalmond;
}
#right{
    position: absolute;
    height: 90%;
    width: 22%;
    top: 5%;
    right: 1%;
    background-image: url("../images/battleship_web.jpg");
    background-repeat: no-repeat;
    background-color: #202020;
}

table.game_area {
    background-color: #ddd;
    color: black;
    font-weight: bold;
    font-size: 1.3em;
    border: 3px solid black;
    text-align: center;
    padding: 0px;
    border-spacing: 0px;
    margin: 0px;
}

table.game_area td {
    border: 1px solid black;
    width: 30px;
    height: 30px;
    min-width: 30px;
    min-height: 30px;
    padding: 0px;
}

table#opponent_game_area td:hover {
    background-color: #00F;
}

div#monitor_container {
    margin-left: 20px;
}

div#monitor_container span {
    font-size: 1.3em;
    font-weight: bold;
    margin:10px;
}

div#monitor_own {
    float: left;
    margin-right: 40px;
}

div#monitor_opponent {

}