@import coreGame.GameController

@import play.api.Play.current

@(message: String, game: GameController)(implicit session: play.api.mvc.Session)
<script>
var fieldSize = @game.fieldSize; // size of the field
var boatLength = @game.gameState.getNextBoatLength; // length of the boat
var boatStart = null;
</script>

@main("Playing against other Player") {


    <div id="textbox">
    @if(session.get("id").getOrElse(null) == game.players(0).playerID){
        @if(game.gameState.isPlayersTurn(game.players(0))){
            <div id="status" >
            @message
            </div>
        }else{
            <meta http-equiv="refresh" content="0; URL=@routes.Application.waiting">
            <div id="status_locked" >
            @message
            </div>
        }
    }else {
        @if(session.get("id").getOrElse(null) == game.players(1).playerID) {
            @if(game.gameState.isPlayersTurn(game.players(1))){
                <div id="status" >
                @message
                </div>
            }else{
                <meta http-equiv="refresh" content="0; URL=@routes.Application.waiting">
                <div id="status_locked" >
                @message
                </div>
            }
        }
    }
    <!-- Unterscheidung zwischen Spieler 1 und 2 -->
    <div id="monitor_container">
        @if(session.get("id").getOrElse(null) == game.players(0).playerID){
            <div id="monitor_own">
                <span>Eigenes Spielfeld!</span>
                <table id="own_game_area" class="game_area"  onmouseout="resetHighlights()">
                @for(y <- 0 until game.fieldSize) {
                    <tr>
                    @for(x <- 0 until game.fieldSize) {
                        <td id="own_cell_@{x}_@y" class="own_cell" onclick="placeBoat(@x,@y,'@session.get("id").getOrElse(null)','@routes.Application.placeBoat')" onmouseover="placementMouseEvent(this,@x,@y)">
                        @if(game.gameState.fieldState1.visualCells(x)(y) == 0){
                            @if(game.gameState.fieldState1.gameArea.checkCell(x,y) != 0) {
                                O
                            } else {
                                &nbsp;
                            }
                        }else{
                            @if(game.gameState.fieldState1.visualCells(x)(y) == 1) {
                                X
                            } else {
                                *
                            }
                        }
                        </td>
                    }
                    </tr>
                }
                </table>
            </div>
            <div id="monitor_opponent">
                <span>@game.players(1).playerName's Spielfeld!</span>
                <table id="opponent_game_area" class="game_area">
                @for(y <- 0 until game.fieldSize) {
                    <tr>
                    @for(x <- 0 until game.fieldSize) {
                        <td id="opponent_cell_@{x}_@y"  onclick="shoot(@x,@y,'@session.get("id").getOrElse(null)','@routes.Application.shoot')">
                            @if(game.gameState.fieldState2.visualCells(x)(y) != 0) {
                                @if(game.gameState.fieldState2.visualCells(x)(y) == 1) {
                                    X
                                } else {
                                    *
                                }
                            } else {
                                &nbsp;
                            }
                        </td>
                    }
                    </tr>
                }
                </table>
            </div>
        }else {
            <div id="monitor_own">
                <span>Eigenes Spielfeld!</span>
                <table id="own_game_area" class="game_area"  onmouseout="resetHighlights()">
                @if(session.get("id").getOrElse(null) == game.players(1).playerID) {
                    @for(y <- 0 until game.fieldSize) {
                        <tr>
                        @for(x <- 0 until game.fieldSize) {
                            <td id="own_cell_@{x}_@y" class="own_cell" onclick="placeBoat(@x,@y,'@session.get("id").getOrElse(null)','@routes.Application.placeBoat')" onmouseover="placementMouseEvent(this,@x,@y)">
                            @if(game.gameState.fieldState2.visualCells(x)(y) == 0){
                                @if(game.gameState.fieldState2.gameArea.checkCell(x,y) != 0) {
                                    O
                                } else {
                                    &nbsp;
                                }
                            }else {
                                @if(game.gameState.fieldState2.visualCells(x)(y) == 1) {
                                    X
                                } else {
                                    *
                                }
                             }
                            </td>
                        }
                        </tr>
                    }
                }
                </table>
            </div>
            <div id="monitor_opponent">
                <span>@game.players(0).playerName's Spielfeld</span>
                <table id="opponent_game_area" class="game_area">
                @for(y <- 0 until game.fieldSize) {
                    <tr>
                    @for(x <- 0 until game.fieldSize) {
                        <td id="opponent_cell_@{x}_@y"  onclick="shoot(@x,@y,'@session.get("id").getOrElse(null)','@routes.Application.shoot')">
                            @if(game.gameState.fieldState1.visualCells(x)(y) != 0) {
                                @if(game.gameState.fieldState1.visualCells(x)(y) == 1) {
                                    X
                                } else {
                                    *
                                }
                            } else {
                                &nbsp;
                            }
                        </td>
                    }
                    </tr>
                }
                </table>
            </div>
        }
    </div>
    <div id="forfeit">
    @if(session.get("id").getOrElse(null) == game.players(0).playerID){
        @if(game.gameState.isPlayersTurn(game.players(0))){
            <a href="@routes.Application.endGame" ><img src="@routes.Assets.at("/images/forfeit.png")" name="Aufgeben" /></a>
        }
    }else {
        @if(session.get("id").getOrElse(null) == game.players(1).playerID) {
            @if(game.gameState.isPlayersTurn(game.players(1))){
                <a href="@routes.Application.endGame" ><img src="@routes.Assets.at("/images/forfeit.png")" name="Aufgeben" /></a>
            }
        }
    }
    </div>
    </div>
}
