@import play.api.Play.current

@(message: String, game: GameController)(implicit session: play.api.mvc.Session)
@main("Playing against other Player") {

        @message
        <a href="@routes.Application.endGame" >Spiel beenden!!</a>


        <script language="javascript">
            var fieldSize = 10; // size of the field
            var boatLength = 4; // length of the boat
            var boatStart = null; // first selected coordinate of the boat

            /** getElementsByClassName function (not available for all browsers) */
            function getElementsByClassName(node,classname) {
                if (node.getElementsByClassName) { // use native implementation if available
                return node.getElementsByClassName(classname);
                } else {
                return (function getElementsByClass(searchClass,node) {
                if ( node == null )
                node = document;
                var classElements = [],
                els = node.getElementsByTagName("*"),
                elsLen = els.length,
                pattern = new RegExp("(^|\\s)"+searchClass+"(\\s|$)"), i, j;

                for (i = 0, j = 0; i < elsLen; i++) {
                if ( pattern.test(els[i].className) ) {
                classElements[j] = els[i];
                j++;
                }
                }
                return classElements;
                })(classname, node);
                }
            }

            /** function to place a boat by selecting two coordinates */
            function placeBoat(x,y) {
                if (boatStart == null) {
                    boatStart = new Array(x,y)
                    alert('Start at ' + x + ',' + y ) ;
                } else {
                    if (x == boatStart[0] && y == boatStart[1] ) { // same coordinates: remove the first point
                        boatStart = null ;
                        alert ( 'Removed the start of the boat' )
                    } else if ( x == boatStart[0] && Math.abs(y - boatStart[1]) < boatLength) { // vertical placement
                        if (y > boatStart[1]) {
                            if (boatStart[1] + boatLength - 1 >= fieldSize) return;
                            alert ( 'Placed boat: ' + boatStart[0] + ',' + boatStart[1] + ' - v' )
                        } else {
                            if (boatStart[1] - boatLength - 1 < 0) return;
                            alert ( 'Placed boat: ' + x + ',' + (boatStart[1] - boatLength + 1) + ' - v' )
                        }
                    } else if ( y == boatStart[ 1 ] && Math.abs(x - boatStart[0]) < boatLength) { // horizontal placement
                        if (x > boatStart[0]) {
                            if (boatStart[0] + boatLength - 1 >= fieldSize) return;
                            alert ( 'Placed boat: ' + boatStart[0] + ',' + boatStart[ 1 ] + ' - h' )
                        } else {
                            if (boatStart[0] - boatLength - 1 < 0) return;
                            alert ( 'Placed boat: ' + (boatStart[0] - boatLength + 1) + ',' + y + ' - h' )
                        }
                    }
                }
            }

            /** mouseover-function for the boat-placement field */
            function placementMouseEvent(element,x,y) {
                resetHighlights();
                if (boatStart == null) {
                    element.style.backgroundColor = "#00F";
                } else {
                    if (x == boatStart[ 0 ] && y == boatStart[ 1 ] ) { // same coordinates: remove the first point
                        element.style.backgroundColor = "#F00";
                    } else if ( x == boatStart[ 0 ] && Math.abs(y - boatStart[1]) < boatLength) { // vertical placement
                        var first = boatStart[1];
                        var last = boatStart[1] + boatLength - 1;
                        if (y < boatStart[1]) {
                            first = boatStart[1] - boatLength + 1;
                            last = boatStart[1];
                        }
                        for ( var i=first ; i <= last; i ++ ) {
                            document.getElementById("own_cell_"+x+"_"+i).style.backgroundColor = "#0F0";
                        }
                    } else if ( y == boatStart[ 1 ] && Math.abs(x - boatStart[0]) < boatLength) { // horizontal placement
                        var first = boatStart[0];
                        var last = boatStart[0] + boatLength - 1;
                        if (x < boatStart[0]) {
                            first = boatStart[0] - boatLength + 1;
                            last = boatStart[0];
                        }
                        for ( var i=first ; i <= last; i ++ ) {
                        document.getElementById("own_cell_"+i+"_"+y).style.backgroundColor = "#0F0";
                        }
                    }
                }
            }

            /** reset all the cell colors */
            function resetHighlights() {
                var elements = getElementsByClassName(document, "own_cell");
                for (var i = 0; i < elements.length; i++) {
                    if (boatStart != null && elements[i].id == "own_cell_"+boatStart[0]+"_"+boatStart[1]) {
                        elements[i].style.backgroundColor = "#FF0" ;
                    } else {
                        elements[i].style.backgroundColor = "#DDD" ;
                    }
                }
            }

            /** function to shoot at a coordinate */
            function shoot(x,y) {
                alert('Shoot at '+x+','+y);
            }

        </script>

        <p>Session-ID: @session.get("id")</p>

        <p>Name: "@play.api.cache.Cache.get("name")"</p>
        <p>Spieler 1: "@game.players(0).playerName"</p>
        <p>Spieler 2: "@game.players(1).playerName"</p>



        @if("test" == "test") {
            <p>test ist gleich test</p>
        } else {
            <p>test ist NICHT gleich test!!</p>
        }

        @{
            game.gameState.fieldState1.uncoverCell(0, 9, 1)
            game.gameState.fieldState2.uncoverCell(9, 0, 1)

            //val player : RemotePlayer = Cache.getAs[RemotePlayer]("player1").getOrElse(null)


            if(session.get("id") == game.players(0).playerID) {
                <p>Du bist Spieler 1!</p>
            } else if(session.get("id") == game.players(1).playerID) {
                <p>Du bist Spieler 2!</p>
            } else {
                <p>Fehler!! Du bist weder Spieler 1 noch Spieler 2</p>
            }


            if (game.gameState.isPlacementFinished) {
                if (game.gameState.isPlayersTurn(game.players(0))) {
                    <p>Bitte schiesse auf ein Feld:</p>
                } else {
                    <p>Warte auf Schuss des Gegners...</p>
                }
            } else {
                if (game.gameState.isPlayersTurn(game.players(0))) {
                    <p>Bitte platziere ein Boot:</p>
                } else {
                    <p>Warte darauf, dass der Gegner ein Boot platziert...</p>
                }
            }
        }

        @*
        @ownFieldState() = @{ if(session.get("name") == game.players(0).playerName) game.gameState.fieldState1 else game.gameState.fieldState2 }
        @opponentFieldState() = @{ if(session.get("name") == game.players(0).playerName) game.gameState.fieldState2 else game.gameState.fieldState1 }

        @*
        @{ val ownFieldState = { if(session.get("name") == game.players(0).playerName) game.gameState.fieldState1 else game.gameState.fieldState2 }}
        @{ val opponentFieldState = { if(session.get("name") == game.players(0).playerName) game.gameState.fieldState2 else game.gameState.fieldState1 }}
        *@

        <div id="monitor_own">
            <h2>Eigenes Feld:</h2>
            <table id="own_game_area" class="game_area"  onmouseout="resetHighlights()">
                @for(y <- 0 until game.fieldSize) {
                    <tr>
                        @for(x <- 0 until game.fieldSize) {
                            <td id="own_cell_@{x}_@y" class="own_cell" onclick="placeBoat(@x,@y)" onmouseenter="placementMouseEvent(this,@x,@y)">@game.gameState.fieldState1.visualCells(x)(y)</td>
                        }
                    </tr>
                }
            </table>
        </div>

        <div id="monitor_opponent">
            <h2>Feld des Gegners:</h2>
            <table id="opponent_game_area" class="game_area">
            @for(y <- 0 until game.fieldSize) {
                <tr>
                    @for(x <- 0 until game.fieldSize) {
                        <td id="opponent_cell_@{x}_@y"  onclick="shoot(@x,@y)">@game.gameState.fieldState2.visualCells(x)(y)</td>
                    }
                </tr>
            }
            </table>
        </div>

}
